<html> <head>
<title>url list</title>


</head>
<body>

<div id='main_header'>
<a href='/'>url list</a><br>
</div>

<div id='tile_header'>
<a href='/tile/list/'>tile list</a><br>
</div>


#id
#name
#visual_tile_map
#properties
#actions

REMOVE JUNK BELOW

{% if tile_list %}
    <table border="1">
    <tr>
		<td>tile_id</td>
		<td>tile_name</td>
		<td>graphic</td>
		<td>edit</td>
    </tr>
    
	{% for tile in tile_list %}
		<tr>
			<td>{{tile.id}}</td>
			<td>{{tile.name}}</td>
			<td>image here</td>
			<td><a href='/tile/edit/{{tile.id}}/'>edit tile</a><br></td>
		</tr>
    {% endfor %}
    </table>
{% endif %}

</body>
</html>
