<html>

<head></head>


<body>
<a href='tile_editor/create_tile'>Create Tile</a>
<a href='tile_editor/edit_tile/1'>Edit Tile 1</a>

{{ tile_id }} <br>

{{ tile_dict }} <br><br>

---- <br>

id: {{tile_dict.id}} <br>
name: {{tile_dict.name}} <br>
type: {{tile_dict.type}} <br>
<br>

meta: <br>
{% for key,value in tile_dict.meta %}
	> {{key}} : {{ value }} <br>
{% endfor %} <br>

admin: <br>
{% for key,value in tile_dict.admin %}
	> {{key}} : {{ value }} <br>
{% endfor %} <br>

visual_tilemap: <br>
{% for key,value in tile_dict.visual_tilemap %}
	> {{key}} : {{ value }} <br>
{% endfor %} <br>

properties: <br>
{% for key,value in tile_dict.properties %}
	> {{key}} : {{ value }} <br>
{% endfor %} <br>

actions: <br>
{% for key,value in tile_dict.actions %}
	> {{key}} : {{ value }} <br>
{% endfor %} <br>
						
</body>

</html>
